body {
  margin: 10;
  padding: 10;
  font-family: sans-serif;
  background-image: url(https://img.etsystatic.com/il/52eec5/393851149/il_fullxfull.393851149_kjt9.jpg?version=0);
  background-size: cover;
}
